*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/image.jpg")  ;
    flex-direction: column;
}
.film-select{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#movie-selection{
    margin: 1rem;
    width: 20rem;
    height: 2rem;
    background-color: rgb(231, 195, 195);
    border-radius: 2rem;

}
.movie-screen{
    width: 20rem;
    height: 25vh;
    background-color: seashell;
    border-radius: 0 0 5rem 5rem;
    box-shadow: 10px 10px 10px 10px snow;
}
.seats{
    margin: 2rem;
    transition: display .5s;
}
.row{
    display: flex;
}
.row .seat{
    width: 5rem;
    height: 2rem;
    background-color: seashell;
    margin: 2%;
    border-radius: 2rem 2rem 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ex-seats{
    display: flex;
}
.ex-seats .seat{
    width: 5rem;
    height: 2rem;
    background-color: seashell;
    margin: 2%;
    border-radius: 2rem 2rem 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    margin-left: 2rem;
}
.row .selected-seat{
    background-color: rgb(255, 0, 255);
    transition: 0.5s;
}
.row .seat:nth-child(2){
    margin-right: 5vw;
}
.row .seat:nth-child(5){
    margin-right: 5vw;
}
.row .reset-seats{
    background-color: rgb(255, 255, 255);
    transition: all 1s;
}
.row .occupied{
    background-color: rgb(165, 247, 2);
    transition: 1s;
}

h1,h2,h3,h4{
    color: aliceblue;
}
#approve-button{
    width: 7rem; 
    height: 3rem; 
    background-color: brown;
    color: rgb(255, 255, 255); 
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}
#approve-button:hover{
    background-color: snow;
    color: black;
    transition: 1s;
}